.anim.info__me{
    transform: translateX(+20%);
    transition: all 2s;
    opacity: 0;
}
.anim.info__me.active{
    transform: translateX(0);
    opacity: 1;
}
.anim.about__info{
    transform: translateX(-20%);
    transition: all 1s;
    opacity: 0;
}
.anim.about__info.active{
    transform: translateX(0%);
    opacity: 1;
}
.anim.facts{
    transform: translateY(-20%);
    transition: all 2s;
    opacity: 0;
}
.anim.facts.active{
    transform: translateY(0);
    opacity: 1;
}
.anim.media__icons{
    transform: translateY(+20%);
    transition: all 2s;
    opacity: 0;
}
.anim.media__icons.active{
    transform: translateY(0);
    opacity: 1;
}

